<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			Project~ Wall-E
		</title>
		<style>
		body  {
			background: url("/public/img/robot.jpg");
			background-repeat: repeat;
			background-size: auto;
		      }

		img   {
			 height: 100px;
                         width: 100px;
                      }

		label {	
			color: #E74C3C;
                      }
				
			
		</style>
                <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
		<link rel="stylesheet" href="/public/css/bootstrap.min.css"></link>
		<link rel="icon" href="/favicon.ico" />
	</head>
	
	<body>
		<br/>
		<br/>
		<div class="text-center">
			<img src="/public/img/WALLE.png" alt="image.png"/>
			<h1><a href="/">Project ~ Wall-E</a></h1>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
		$(function()
		{
			var socket = io();
			$(document).on("keypress", function (e) {
	                  // use e.which
			  console.log(e.key);
			if(e.key == "ArrowUp" || e.key=="ArrowDown" || e.key=="ArrowLeft" || e.key=="ArrowRight")
			  socket.emit('keyPress',{key:e.key});
	                });

			
			var data = document.getElementById("message");
			document.getElementById("sendButton").onclick = function(){ 
				socket.emit("Message",{data:data.value});
				document.getElementById("message").value = '';
			};
		});
		</script>

		<div class="container">
		  <div class="col-md-12">
                   <div class="panel panel-success">
		     <div class="panel-heading">
		       <h3>Control Panel</h3>
		     </div>
                     <div class="panel-body text-center">
			<iframe frameborder="1" width="420" height="345" src=""></iframe>
			</br>
			<input type="text" style="font-size:20px;" name="message" id="message" placeholder="Enter your message"/>
			</br>
			</br>
			<button type="button" id="sendButton" style="font-size:20px;" class="btn 
btn-success">Send</button>
		    </div>
                   </div>
		  </div>
		</div>
		<br/>
		<br/>
		<div style="border-top: solid 1px #eee; padding-top:1em;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p class="text-muted">CDAC |&copy; All Rights Researved
						</p>
						<p class="text-center">
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
				
				

